{% extends 'service/base.html' %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Title</th>
        <th scope="col">Opened</th>
      </tr>
    </thead>
    <tbody>
      {% for email in emails %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{email.email}}</td>
        <td>{{email.message.title}}</td>
        {% if email.opened %}
        <td>Opened</td>
        {% else %}
        <td>Not opened</td>
        {% endif %}
        
      </tr>
      {% empty %}
      <h2>There is no messages yet</h2>
      {% endfor %}
    </tbody>
</table>
{% endblock content %} 
        
   